body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #555;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #0073e6;
}

nav ul li a:hover {
    background-color: #777;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.tentang-aku, .pendidikan {
    width: 48%;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 400px;
}

.tentang-aku {
    background-color: #0073e6;
    color: white;
    width: 25%;
    border-radius: 5px;
    border: 3px solid #000000;
}

.pendidikan {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    width: 65%;
}

.timeline {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.timeline .item {
    width: 100px;
    height: 65px;
    background-color: #0073e6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #010102;
}

footer {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #000000;
}